<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID"
  version="3.1">

  <display-name>Project Banque en MVC</display-name>
  <description>Le projet Banque.</description>

  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!-- Lien entre la data source et le pool de connexions. -->
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/netbankPool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>